<section id="navSidebar" class="sidenav-content">
    <a href="index.php" class="nav-link active">
        Home
    </a>
    <section class="nav-group collapsible">
        <input id="Links" type="checkbox">
        <label for="Links">Links</label>
        <ul class="nav-list">
            <li><a id="Systems" href="systems.php">Systems</a></li>
            <li><a id="SystemApplications" href="system_applications.php">System Applications</a></li>
            <li><a id="Applications" href="applications.php">Applications</a></li>
            <li><a id="ApplicationVersions" href="application_versions.php">Application Versions</a></li>
            <li><a id="ApplicationModules" href="application_modules.php">Application Modules</a></li>
            <li><a id="Modules" href="modules.php">Modules</a></li>
            <li><a id="ModuleVersions" href="module_versions.php">Module Versions</a></li>
        </ul>
    </section>
</section>